.main-content {
  display: flex;
}

.sidebar {
  width: 25%;
  padding: 20px;
  min-height: 542px;
  background-image: linear-gradient(to right, #707eef, #1c1af2);
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
}

.dashboard-cards {
  width: 75%;
  margin: 20px;
}

.cards {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.cards-trio {
  display: flex;
  justify-content: space-around;
}
