.table-container {
  color: #fff;
}

.table-container th {
  border-bottom: 1px solid #fff;
  letter-spacing: 2px;
  font-family: "Original Surfer", cursive;
}

.table-container td {
  text-align: center;
  padding: 10px;
  max-width: 300px;
  word-wrap: break-word;
}
