.image-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  border-radius: 10px;
}

.left-arrow {
  position: absolute;
  left: 50px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.right-arrow {
  position: absolute;
  right: 50px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
